{# this generates a list of types and variable names of a function. Function should be accessible as 'f'  #}

    {%- for c in f.type_decl.components if c.type_decl.type_name != 'NULL' and c.type_decl.type_name != 'ANY' -%}
    {% set outerloop = loop %}
    {%- if c.type_decl.type_name == "CHOICE" -%}
    {% for d in c.type_decl.type_decl.components if d.__str__() != "..." and d.type_decl.type_name != 'NULL' and d.type_decl.type_name != 'ANY' -%}
    {{ d.type_decl.type_name|under|ack2ck }} {{ d.identifier }}{% if not outerloop.last %},{% endif %} // CHOICE
    {%- endfor %}
    {%- else -%}
    {{ c.type_decl.type_name|under|ack2ck }} {{ c.identifier }}{%- if not loop.last %},{%- endif -%}
    {%- endif %}
    {% endfor -%}